body {
    background: #656464;
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
}

#container {
    width: 750px;
    margin: auto;
}

.box-container {

}

.box {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}

.top-box {
    background: #f77829;
}

.bottom-box {
    background: #eb3b6c;
    flex-flow: row-reverse;
}

.boxhead {
    background: #000;
    height: 50px;
}

.boxfoot {
    background: #fff;
    height: 50px;
}

.quotedbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.quotes {
    margin-right: 10px;
}

.quoted-text {
    font-size: 18px;
    line-height: 30px;
    margin-right: 20px;
}

.author {
    line-height: 25px;
    font-size: 15px;

}

.top-box>.author {
    text-align: right;
}

.circle {
    border-radius: 50%;
    background: #bfbbbb;
    width: 60px;
    height: 60px;
}